.container {
    width: 200%;
    min-width: 450px;
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(22, 22, 22, 0.2);
    transform: translateX(-25%);
}

.header {
    display: block;
    color: #0014f8;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    font-weight: bold;
}

.input {
    width: 100%;
    border: 2px solid #f0f0f0;
    padding: 10px 5px;
    font-size: 20px;
}

hr {
    background-color: #f0f0f0;
    border: 1px solid #f0f0f0;
    margin-top: 2rem;
}

.listContainer {
    padding-left: 0;
}

.listContainer li {
    list-style-type: none;
    text-align: left;
    position: relative;
    font-size: 1rem;
    padding: 16px 16px 16px 0;
    border-bottom: 1px solid black;
}

.listContainer li {
    display: flex;
    justify-content: space-between;
}

.listContainer li input[type="checkbox"] {
    width: max-content;
    vertical-align: sub;
    cursor: pointer;

}

.listContainer li span {
    vertical-align: middle;
    flex: 1;
}

.right {
    flex: 0;
    align-self: flex-end;
    cursor: pointer;
    margin-left: 10px;
}


.completed {
    text-decoration: line-through;
}
